@import "variables";

body{
	font-family: 'Roboto', serif;
}
a:link,
a:visited,
a:hover,
a:focus,
a:active{
	text-decoration: none;
}
header{
	border-bottom: 1px solid lightgrey;
}
.navbar.navbar-light{
	padding:0;
	.nav-item{
		.nav-link{
			color: @nav_text-footer_color;
			transition: all .15s ease-out 0s;
			&:hover,
			&:focus{
				color: @white;
			}
			&:hover{
				background: lighten(@h_color, 30%);
			} 
			&:focus{
				background: @h_color;
			}	
		}
	}
	.active{
		> .nav-link,
		> .nav-link:hover,
		> .nav-link:focus,
		> .nav-link:active{
			color: @white;
			background: @h_color;
			cursor: default;
		}
	}
}
h1, .h-rel-class{
	padding: 10px 0;
	border-bottom: 2px solid lighten(@h_color, 30%);
}
.h-rel-class{
	border-bottom-width: 1px;
}
.heading{
	color: @h_color;
}
.title-rel-class{
	color: @white;
}
.card-rel-class1{
	background: @classes_color_1;
}
.card-rel-class2{
	background: @h_color;
}
.card-rel-class3{
	background: @classes_color_3;
}
.card-rel-class4{
	background: @classes_color_4;
}
.is-hover{
	display: block;	
	transition: .5s linear;
	&:hover{	
		opacity: .7;
		transform: scale(1.1);		
	}
}
.footer{
	background: @nav_text-footer_color;
}