@import 'material-icons'; // self hosted material icons

* {
	outline: none;
}
body {
	font-family: sans-serif;
}
.container{
	display: flex;
	margin: 15px;
}
.player {
	width: 325px;
	height: 325px;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	.control-panel {
		position: absolute;
		padding: 7px;
		width: 100%;
		left: 0;
		bottom: 0;
	}
	.control-panel__view {
		height: 3px;
		background: lightgray;
		position: relative;
		.control-panel__view-line {
			position: absolute;
			height: 100%;
			width: 8%;
			background: #3366ff;
		}
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		i {
			background: white;
			cursor: pointer;
			border-radius: 50%;
		}
		.stop {
			font-size: 60px;
			margin: 0 10px;
		}
		.prev,
		.next {
			font-size: 40px;
		}
	}
}
.player__items {
	color: #fff;
	& .player__items_author{
		font-weight: bold;
	}
	img {
		position: absolute;
		z-index: -1;
	}
}

.songslist {
	flex: 1;
	padding: 0 25px;
}
.songslist__items {
	margin: 0;
	padding: 0;
	list-style: none;
	li:not(:last-child) {
		margin-bottom: 7px;
	}
}
.songs-check {
	display: flex;
	align-items: center;
	cursor: pointer;
	background: #efefef;
	padding: 5px 10px;
	border-radius: 5px;
	i {
		cursor: pointer;
	}
	i::selection {
		background: transparent;
	}
	&:hover {
		background: #d3eeff;
	}
}

.description {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	&-title {
		font-weight: bold;
	}
}

.material-icons {
	&:hover,
	&:focus {
		color: #3366ff;
	}
}
button.isFavorite {
		margin-left: auto;
	background: 0;
	border: 0;
	padding: 4px;
	color: #000;
	&.unheart {
		color: #e00;
	}
	&:hover {
		color: #f00;
	}
}