$bodyFont: 'Open Sans', sans-serif;
$mainColor: #00bcd4;
$borderColor: #e6e6e6;
$bodyBackground: #fff;
$articleBackground: #e6e6e6;
$hoverBackground: lighten($borderColor, 5%);
$post-descriptionColor: darken($mainColor, 10%);
$hoverColor: darken($mainColor, 10%);
$article_h3_Color: darken($mainColor, 10%);
$articlsBorderTop: darken($borderColor, 20%);
$textColor: #527789;
$inputTextColor: darken($borderColor, 50%);
$buttonColor: #fff;
$buttonHoverColor: darken($mainColor, 20%);
$buttonHoverBackground: darken($borderColor, 15%);
$visited_link_color: #7e8d9e;

